body{
    background-color:#eee;
    margin:0;
    padding: 0;
}
.display_box{
    background-color:#fff;
    width:700px;
    height:472px;
    border-color:#ccc;
    border-width:1px;
    border-style:solid;
    margin: 180px auto 0;
    font-size: 20px;
}
.progress{
	background-color:#75aaff;
	width:700px;
	height:28px;
	margin: 0 auto;
}
.play{
	margin: 5px 9px;
	float: left;
	width:14px;
	height:16px;
	background-image: url(../img/play.png);
	background-size:14px 16px;
}
.progress_bar{
	margin-top: 10px;
	float: left;
	width:630px;
	height:5px;
	background-color:#98bfff;
}
.progress_bar_cover{
	margin-top: 0;
	float: left;
	width:1%;
	height:5px;
	background-color:white;
}
.time{
	margin: 4px 7px;
	line-height: 16px;
	float: left;
	width:20px;
	height:16px;
	font-size:12px;
	color:#bfd7ff;
}